/* ====== ADMINISTRADOR ====== */

.crear-turno {
    background-color: var(--superficie);
    border: 1px solid var(--borde);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    max-width: 500px;
}

.crear-turno h2 {
    margin-bottom: 15px;
}

.crear-turno form {
    display: flex;
    flex-direction: column;
}

.crear-turno label {
    margin-top: 10px;
    margin-bottom: 5px;
}

.crear-turno input {
    padding: 10px;
    border: 1px solid var(--borde);
    border-radius: 6px;
}

.crear-turno button {
    margin-top: 20px;
}



.turnos {
    margin-top: 20px;
}

.turnos h2 {
    margin-bottom: 15px;
}

.turnos article {
    background-color: var(--superficie);
    border: 1px solid var(--borde);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}

.turnos article h3 {
    color: var(--primario);
    margin-bottom: 10px;
}

.turnos article p {
    margin-bottom: 5px;
}


@media (max-width: 700px) {
    .crear-turno {
        max-width: 100%;
    }

    .turnos article {
        width: 100%;
    }
}